p{color:brown;font-style:oblique;font-size:15px;font-weight:bold;}
h3{color:antiquewhite;font-style:italic;font-size:19px;font-weight:bolder;}
h2{color:blueviolet;font-style:normal;font-size:21px;font-weight:lighter;}
br{color:black;font-style:inherit;font-size:14px;font-weight:100;}
u{color: black;font-size:19px;font-style:italic;}
b{color: rgb(5, 5, 157);}